/* padding helper tops */

.top0 {
  padding-top: 0px;
}

.top10 {
  padding-top: 10px;
}

.top20 {
  padding-top: 20px;
}

.top30 {
  padding-top: 30px;
}

.top40 {
  padding-top: 40px;
}

.top60 {
  padding-top: 60px;
}

.top80 {
  padding-top: 80px;
}

.top100 {
  padding-top: 100px;
}

/* margin helper tops */

.mtop0 {
  margin-top: 0px;
}

.mtop10 {
  margin-top: 10px;
}

.mtop20 {
  margin-top: 20px;
}

.mtop30 {
  margin-top: 30px;
}

.mtop40 {
  margin-top: 40px;
}

.mtop60 {
  margin-top: 60px;
}

.mtop80 {
  margin-top: 80px;
}

.mtop100 {
  margin-top: 100px;
}