/* default custom styles */

.top10 {
	padding-top: 10px;
}

.top20 {
	padding-top: 20px;
}

.top30 {
	padding-top: 30px;
}

.top40 {
	padding-top: 40px;
}

.top60 {
	padding-top: 60px;
}

.top80 {
	padding-top: 80px;
}

.top100 {
	padding-top: 100px;
}